---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Rooms from '../components/Rooms.astro';
import Dining from '../components/Dining.astro';
import SectionDivider from '../components/SectionDivider.astro';
import SectionDividerDark from '../components/SectionDividerDark.astro';
import Location from '../components/Location.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Hotel Rio | Habarana, Sri Lanka">
	<main>
		<Hero />
		<About />
		<Rooms />
		<Dining />
		<SectionDivider />
		<Location />
		<SectionDividerDark />
		<Testimonials />
	</main>
</Layout>
